

body {
  padding-top: 54px;

}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


.containerTab {
    padding: 20px;
}

/* Closable button inside the container tab
.closebtn {
    float: right;
    font-size: 35px;
    cursor: pointer;
    color: red;
    background-color: black;
    border-radius: 25px 255px;
}
to be added later*/
